#main {
  display: flex;
  flex-direction: column;
}

#top-bar {
  height: 8%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 60vw;
  max-width: 60vw;
  margin: auto;
  border: 1px solid #090522;
  border-top: none;
  background-color: #090522;
  box-sizing: border-box;
  box-shadow: 0 0.1em 0.3em #090522;
  -moz-box-shadow: 0 0.1em 0.3em #090522;
  -webkit-box-shadow: 0 0.1em 0.3em #090522;
}

#options-container {
  text-align: center;
  display: flex;
  height: 25%;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: flex-start;
}

#chat-options {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

#button-container {
  display: flex;
}

#button-container p {
  margin: auto 10px;
}

#button-container button {
  font-size: 1.2rem;
  padding: 20px 40px;
}

